body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f3d4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffecd2;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #d9534f;
}

#countdown {
    font-size: 2em;
    color: #5bc0de;
}
